body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.flexible {
    display: flex;
    margin-bottom: 100px;
    padding-left: 30px;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

.skip {
    color: orangered;
}

.half-width {
    width: 50%;
    padding-bottom: 20px;
}

.half-width img {
    width: 80%;
    padding-left: 20px;
}

.half-width1 {
    width: 90%;
    border-radius: dotted black;
    box-shadow: 10px 10px 10px bisque;
}


.img-border {
    border-radius: 20px;
    margin-top: 40px;
}


.order-now {
    text-decoration: none;
    background-image: linear-gradient(orange, rgb(234, 130, 111));
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 20px 0 20px 0;
    padding-top: 10px;
}

.bg {
    background-image: url(images/shapes/7.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.bg1 {
    background-image: url(images/shapes/Frame\ 58.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.bg2 {
    background-image: url(images/shapes/Frame\ 57.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 40px;
}

.bg3 {
    background-image: url(images/shapes/Frame\ 59.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.images {
    display: flex;
}

.images1 {
    width: 90%;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    box-shadow: 10px 10px 5px orange;
    margin-bottom: 150px;
}

.center {
    text-align: center;
}

.foods {
    background-image: url(images/shapes/Foods.png);
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
    padding-top: 150px;
    padding-bottom: 150px;
    color: rgb(10, 228, 199);
    font-size: larger;
    margin-bottom: 30px;
}

.middle {
    text-align: center;
    margin-bottom: 100px;
}

.flexible-container {
    display: flex;
    margin-bottom: 110px;
}

.flexible-container img {
    width: 100%;
    margin-right: 10px;
    margin-left: -10px;
    margin-top: 10px;
    border-radius: 20px;
}

.shadow {
    width: 100%;
    box-shadow: 10px 10px 40px rgb(112, 112, 111);
    margin-right: 2%;
    margin-left: 2%;
    padding-left: 20px;
    padding-right: 2px;
    border-radius: 20px;
}


footer h2 {
    text-align: center;
    color: orangered;
}

footer p {
    text-align: center;
    color: aliceblue;
}

footer {
    background-color: black;
    padding: 80px;
}